*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  --color-cyan: #00f0ff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #9c9c9c;
}

html {
  font-family: 'Inter', sans-serif;
  background: var(--color-black);
  color: var(--color-white);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--color-black);
  color: var(--color-white);
}

#root {
  min-height: 100vh;
}

::selection {
  background: var(--color-cyan);
  color: var(--color-black);
}
